<div class="container">
    <div class="row">
        <div class="col-md-10">
            <section id="event-detail">
                <div class="content ">
                    <div id="image-event">
                        <img src="/{{ event.imageURL }}.jpg" class="img-cover">
                    </div>
                    <div id="event-wrapper" class="clearfix">
                        <div id="event" itemscope="" itemtype="http://schema.org/Event">
                            <div class="event-name" itemprop="name">
                                <h2>{{event.name}}</h2>
                            </div>
                            <div id="when">
                                <meta itemprop="startDate" content="2017-12-29">
                                <span class="date">{{{event.eventDate}}} </span>
                            </div>
                            <div id="price-range" class="hideMe">
                                {{# if payableEvent}}
                                <br>
                                <span class="price">TicketPrice:</span> ${{event.ticketPrice}} {{ else}}
                                <br>
                                <label>This is a Free Event</label>
                                {{/if}}
                            </div>
                        </div>
                        <div id="event-info">
                            <p class="venue" title="White Eagle Hall">
                            </p>
                            <div itemprop="location" itemscope="" itemtype="http://schema.org/Place"> {{{event.location}}} </div>
                            <p></p>
                            <div class="location">
                                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="streetAddress">{{{event.location}}}</span>
                                    <br>
                                    <span itemprop="addressLocality"> Stevens Insitute of Technology, Hoboken, NJ </span>
                                </div>
                            </div>
                            <div>
                                {{# if admin}}
                                <div>
                                    <input type="button" name="registerForEvent" value="Download Registered Users" class="btn btn-primary getRegisteredUsers"
                                        id="getRegisteredUsers" onclick="getRegisteredUsers('{{ event._id }}');">
                                </div>
                                {{ else }}
                                <div class="section" style="padding-bottom:20px;">
                                   <!-- {{# if restrict}}
                                    <br>
                                    <div><b>THIS is for only {{event.department}} Students</b></div>
                                    {{ else }} -->
                                    {{# if isRegistered}}
                                    <input type="button" name="registrationDone" id="registrationDone" value="Registered" class="btn btn-primary confirm-registration"
                                        disabled> {{ else }} {{# if payableEvent}}
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    <input type="button" name="registerPayableEvent" id="registerPayableEvent" class="btn btn-primary register-event" value="Register"
                                        data-toggle="modal" data-target="#registerMainEvent"> {{ else }}
                                    <div>
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        <input type="button" name="registerForEvent" value="Register" id="registerForEvent" class="btn btn-primary register-event"
                                            onclick="registerEvent('{{ event._id }}');">
                                    </div>
                                    <!--{{/if}} -->
                                    {{/if}}
                                    {{/if}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div id="additional-ticket-text" class="empty-div">
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
            <div class="event-description">
                <p>
                    {{{event.eventDescription}}}
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade  " id="registerMainEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buy Tickets:</h5>

            </div>
            <div class="modal-body">

                <div class="container">
                    <div class="row">
                        <!-- You can make it whatever width you want. I'm making it full width
on <= small devices and 4/12 page width on >= medium devices -->
                        <div class="col-md-12">

                            <!-- CREDIT CARD FORM STARTS HERE -->
                            <div class="panel panel-default credit-card-box">
                                <div class="panel-heading display-table">
                                    <div class="row display-tr">
                                        <div class="display-td">
                                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <form role="form" onsubmit="registerEventAfterPay('{{ event._id }}');" method="post" id="payment-form" id="payment-form">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="cardNumber">CARD NUMBER</label>
                                                    <div class="input-group">
                                                        <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" id="card-number"
                                                            required autofocus />
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-credit-card"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <div class="form-group">
                                                    <label for="cardExpiry">
                                                        <span class="hidden-xs">EXPIRATION</span>
                                                        <span class="visible-xs-inline">EXP</span> DATE</label>
                                                    <input type="tel" class="form-control" name="cardExpiry" placeholder="MM" autocomplete="cc-exp" id="card-expiry-month" required
                                                    />
                                                    <input type="tel" class="form-control" name="cardExpiry" placeholder="YY" autocomplete="cc-exp" id="card-expiry-year" required
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-xs-5 col-md-5 pull-right">
                                                <div class="form-group">
                                                    <label for="cardCVC">CV CODE</label>
                                                    <input type="tel" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc" id="card-cvc" required />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button class="btn btn-primary" type="submit">Register</button>
                                            </div>
                                        </div>
                                        <div class="row" style="display:none;">
                                            <div class="col-xs-12">
                                                <p class="payment-errors"></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- CREDIT CARD FORM ENDS HERE -->

                        </div>

                    </div>
                </div>

                </body>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
