<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="profile clearfix">                            
                <div class="image">
                    <img style="max-width:100%;" src="/{{ event.imageURL }}.jpg" class="img-cover">
                </div>                            
                <div class="user clearfix">                              
                    <h2>{{event.name}}</h2>                                
                    <div class="actions">
                        <div class="btn-group">
                        
                        </div>
                    </div>                                                                                                
                </div>                 
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>         
                <div class="info">
                   <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <span class="title">Location:</span>  {{{event.location}}}     <br>                         
                    <span class="glyphicon glyphicon-gift"></span> <span class="title">Date:</span> {{{event.eventDate}}}                             
                    <span class="glyphicon glyphicon-gift"></span> <span class="title">Department:</span> <p>{{event.department}}</p>                               
                </div>              
                <div>
                    {{# if admin}}
                    <div></div>
                    {{ else }}

                    <div class="section" style="padding-bottom:20px;">
                        {{# if  isRegistered}}
                           <input type="button" name="registerEvent" id="registrationDone" value="Registered" class="btn btn-primary" disabled>
                         {{ else }}
                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><input type="button" name="registerEvent" id="registerEvent" value="Register" class="btn btn-primary" onclick="registerEvent('{{ event._id }}');">
                            
                        {{/if}}
                        </div>   
                    {{/if}}
                </div>                
            </div>
            <p>
                {{{event.eventDescription}}}
            </p>
        </div>
    </div>
</div>