<!--

{{# each productsList }}

<div class="row">
    {{# each this}}

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ this.imagePath }}" class="img-responsive" alt="...">
            <div class="caption">
                <a href="/product-view/{{this._id}}" class=""><h3>{{ this.title }}</h3></a>
                <p class="description">{{ this.description }}</p>
                <div class="clearfix">
                    <div class="price pull-left">${{ this.price }}</div>
                    <a href="/add-to-cart/{{ this._id }}" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</div>

{{/each}}-->
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>This is home for admin</h1>
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventCreate"><i class="fa fa-search"></i> Create Event</button>
        
       
           <!-- <input type="hidden" name="_csrf" value="{{ csrfToken }}">-->
     </div>
</div>

<div class="modal fade" id="eventCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="contactForm" action="/admin/createEvent" method="post" enctype="multipart/form-data" data-toggle="validator">
        <label class="nav-link disabled">*All fields are required</label>
           <div class="form-group">
                <input type="text" id="eventName" name="eventName" class="form-control" placeholder="Event Name" data-error="Event Name is missing" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <lable for="organizerName">Organizer Name</lable><br>
                <label>{{{user.firstname}}} {{{user.lastname}}}</label>
                <!--<input type="text" id="organizerName" name="organizerName" class="form-control" data-error="Organizer is missing" required disabled> {{{user.username}}} </input>-->
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <textarea class="form-control" id="description" name="description" placeholder="Description" rows="3"></textarea>
            </div>

            <div class="form-group">
                <input type="number" id="tickets" name="tickets" class="form-control" placeholder="Number of Tickets" data-error="Image" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <input type="file" id="image" name="image" placeholder="Image for the event" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group input-group">
                <input type="text" step="any" id="location" placeholder="Location" name="location" class="form-control" data-error="Location is missing" required/>
                     <div class="help-block with-errors"></div>
            </div>

            
             <div class="form-group">
                <input type="date" id="eventDate" name="eventDate" class="form-control" placeholder="Event Date" data-error="date" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon">$</span>
                <input type="number" step="any" id="ticketPrice" placeholder="Ticket Price" name="ticketPrice" class="form-control" data-error="Ticket price is missing" required/>
                     <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <input type="text" id="contactName" name="contactName" placeholder="Contact Name" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <input type="number" id="contactPhone" name="contactPhone" placeholder="Contact Phone Number" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
            
            <div class="form-group">
                <input type="text" id="contactEmail" name="contactEmail" placeholder="Email address for contact" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
            
            
             <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>   
      </div>
    </div>
  </div>
</div>